# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class


# Jupyter notebook
.ipynb_checkpoints
/notebooks/


# Virtualenv
/venv/


# Project specific
**.DS_Store
plot.txt
/lib/network.py.save

# .txt files

# output files
/output/
