# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class


# Jupyter notebook
.ipynb_checkpoints


# Virtualenv
/venv/


# Project specific
**.DS_Store


# .txt files
pseudo_train.txt
loss.csv

# output files
/output/
